body {
    font-family: "Oswald", sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    text-align: center;
}

.outer_container {
    background-image: url("/static/images/registration/regis.jpeg");
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 100vh;
}
.wrapper {
    padding-top: 7vh;
    background-color: #171717;
    width: 65vw;
    height: 75vh;
    opacity: 1;
    border-radius: 0.6em;
}

.registration__header {
    margin-bottom: 1em;
}

.user__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row input {
    width: 25em;
    overflow: hidden;
    padding: 0.8em 0.7em 0.7em 1.3em;
    border: none;
}

.row input:focus {
    outline: none;
}

.submit__button {
    width: 7em;
    padding: 0.7em 0em;
    background-color: #333333;
    border: none;
    color: #fff;
}

.submit__button:hover {
    background-color: #5e5e5e;
}

.row input,
.submit__button {
    margin: 0.7em;
    border-radius: 8px;
}
