{% extends "app_layout.html" %}
 
{% block title %} {{ album_name.ALBUM_NAME }} {% endblock %} 
 
{%block head %}
	<link rel="stylesheet" href="../static/css/results.css" />
{% endblock %}
 
{% block page_title %}
	<h1>{{ album_name.ALBUM_NAME }}</h1>
{% endblock %}
 
{% block body %}
	<div class="wrapper">
		{% if results %}
			{% for result in results %}
				<div class="results">
						<div class="result">
							<div class="album__art"><img src="{{ result.album_art }}" alt=""></div>
							<div class="song__name">{{ result.song_name }}</div>
							<div class="artist__name">
                                <a href="{{ url_for('user', user_id=result.user_id ) }}">
                                    {{ result.artist_name }}
								</a>
                            </div>
                            <div class="album__name">
                                {{ result.album }}
                            </div>
                            <div class="duration">{{ result.duration }}</div>
						</div>
				</div>
			{% endfor %}
		{% else %}
			<h1>Sorry, we couldn't find what you were looking for :(</h1>
		{% endif %}
	</div>
{% endblock %}