{% extends "app_layout.html" %} {% block title %} Create Album {% endblock %} {%
block head %}
<link rel="stylesheet" href="../static/css/create_album.css" />
{% endblock %} {% block page_title %}

<h1>Create Album</h1>

{% endblock %} {% block body %}
<div class="wrapper">
	<form action="/create_album" method="POST" enctype="multipart/form-data">
		<div class="container">
			<div class="album__art">
				<label for="album__art" class="plus__button"
					><i class="fa-solid fa-plus"></i
				></label>
				<input type="file" accept="image/jpeg" name="album__art" id="album__art" required />
			</div>
			<div class="album__details">
				<div class="add__song">
					<textarea
						type="text"
						name="song__name"
						placeholder="Enter song name"
						required
					></textarea>
				</div>
				<div class="album__name">
					<input
						type="text"
						name="album__name"
						placeholder="Enter album name"
						required
					/>
				</div>
				<div class="album__genre">
					<input
						type="text"
						name="album__genre"
						placeholder="Enter album genre"
						required
					/>
				</div>
				<div class="song__durations">
					<textarea
						type="number"
						name="song__durations"
						placeholder="Enter song duration in seconds"
						min="0000"
						required
					></textarea>
				</div>
				<button id="release__button" type="submit">RELEASE</button>
			</div>
		</div>
	</form>
</div>

<script src="../static/js/create_album.js"></script>
{% endblock %}
